<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Add employee</title>
</head>
<body>
    <h1>Add employee</h1>
    <form method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"/><br>

        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" name="surname"/><br>

        <label for="birthdate">Birthdate:</label><br>
        <input type="date" id="birthdate" name="birthdate" /> <br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>

        <label for="salary">Salary:</label><br>
        <input type="number" id="salary" name="salary"><br>

        <button>Submit</button>
    </form>
</body>
</html>